@import "../../styles/variables.scss";
@import "../../styles/colors";

.about {
  width: 60%;
  height: 100%;
  margin: auto;
  display: grid;
  align-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px fit-content;
  gap: 30px 30px;
  grid-template-areas:
    "ABOUT ABOUT ABOUT"
    "EL1 EL2 EL3";
  &__element {
    display: flex;
    flex-direction: column;
    background: rgba($c-grey, 0.8);
    padding: $about_el_pad;
    border-radius: $about_el_bord_rad;
    &.withTags {
      padding: 20px 10px;
    }
    &__title {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 10px;
      span {
        height: fit-content;
      }
    }
    &__content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
      white-space: pre-wrap;
      p {
        font-size: 1.25rem;
      }
      ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        list-style-type: none;
        li {
          margin: 5px 3px;
          width: fit-content;
          background: transparent;
          border-radius: 10px;
          border: 2px solid white;
          padding: 5px 10px;
          font-size: 16px;
          font-weight: 500;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -ms-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease;
          &:hover {
            background: white;
            color: black;
          }
        }
      }
    }
  }
  #aboutme {
    grid-area: ABOUT;
    .about__element__title {
      justify-content: flex-start;
    }
    .about__element__content {
      justify-content: flex-start;
    }
  }
  #frontend {
    grid-area: EL1;
  }
  #backend {
    grid-area: EL2;
  }
  #other {
    grid-area: EL3;
  }
}

@media (min-width: 1921px) {
}

@media (max-width: 1400px) {
  .about {
    width: 80%;
    &__element {
      &__content {
        p {
          font-size: 0.75rem;
        }
      }
    }
  }
}

@media (max-width: 1200px) and (orientation: landscape) {
  .about {
    &__element {
      padding: $about_el_pad_mobile;
      &__title {
        height: fit-content;
        font-size: 18px;
      }
      &__content {
        height: fit-content;
        ul {
          li {
            font-size: 10px;
            padding: 3px 6px;
            margin: 3px 2px;
            border: 1px solid white;
            border-radius: 8px;
          }
        }
      }
      &.withTags {
        padding: 10px;
      }
    }
    #aboutme {
      .about__element__title {
        justify-content: center;
      }
      .about__element__content {
        justify-content: center;
      }
    }
  }
}

@media (max-width: 992px) {
  .about {
    max-height: 80%;
    grid-template-columns: 1fr;
    grid-template-rows: fit-content fit-content fit-content fit-content;
    gap: 20px 0;
    grid-template-areas:
      "ABOUT"
      "EL1"
      "EL2"
      "EL3";
    &__element {
      &__title {
        font-size: 16px;
      }
      &__content {
        ul {
          li {
            font-size: 10px;
          }
        }
      }
    }
  }
}

@media (max-width: 992px) and (orientation: landscape) {
  .about {
    max-height: 70%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: fit-content 150px;
    gap: 10px 10px;
    grid-template-areas:
      "ABOUT ABOUT ABOUT"
      "EL1 EL2 EL3";
  }
}

@media (max-width: 768px) {
}

@media (max-width: 768px) and (orientation: landscape) {
  .about {
    grid-template-rows: 90px 160px;
    &__element {
      &__title {
        font-size: 14px;
      }
      &__content {
        p {
          font-size: 0.625rem;
        }
        ul {
          li {
            font-size: 7px;
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .about {
    width: 90%;
    gap: 8px 8px;
    &__element {
      padding: $about_el_pad_mobile;
      &__title {
        height: fit-content;
        font-size: 16px;
      }
      &__content {
        height: fit-content;
        p {
          font-size: 0.65rem;
        }
        ul {
          li {
            font-size: 8px;
            padding: 3px 6px;
            margin: 3px 2px;
            border: 1px solid white;
            border-radius: 8px;
          }
        }
      }
      &.withTags {
        padding: 10px;
      }
    }
    #aboutme {
      .about__element__title {
        justify-content: center;
      }
      .about__element__content {
        justify-content: center;
      }
    }
  }
}

@media (max-width: 320px) {
  .about {
    overflow: auto;
    max-height: 80%;
  }
}
