@import "variables";
@import "colors";

.about {
	width: 60%;
	height: 100%;
	margin: auto;
	display: grid;
	align-content: center;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 200px fit-content;
	gap: 30px 30px;
	grid-template-areas:
		"ABOUT ABOUT ABOUT"
		"EL1 EL2 EL3";
	&_element {
		display: flex;
		flex-direction: column;
		background: rgba($color-grey, 0.8);
		padding: $about_el_pad;
		border-radius: $about_el_bord_rad;
		&_title {
			min-height: 50px;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 3vh;
			span {
				height: fit-content;
			}
		}
		&_content {
			height: 100%;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			margin: 10px 0;
			ul {
				display: flex;
				justify-content: center;
				flex-wrap: wrap;
				list-style-type: none;
				li {
					margin: 5px 3px;
					width: fit-content;
					background: transparent;
					border-radius: 10px;
					border: 2px solid white;
					padding: 5px 10px;
					font-weight: 500;
					-webkit-transition: all 0.3s ease;
					-moz-transition: all 0.3s ease;
					-ms-transition: all 0.3s ease;
					-o-transition: all 0.3s ease;
					transition: all 0.3s ease;
				}
				li:hover {
					background: white;
					color: black;
				}
			}
		}
	}
	#aboutme {
		grid-area: ABOUT;
		.about_element_title {
			justify-content: flex-start;
		}
		.about_element_content {
			font-size: 1.8vh;
			justify-content: flex-start;
		}
	}
	#frontend {
		grid-area: EL1;
	}
	#backend {
		grid-area: EL2;
	}
	#other {
		grid-area: EL3;
	}
}

// MOBILE
@media (min-width: 300px) and (max-width: 767.99px) {
	.about {
		max-height: 80%;
		width: 80%;
		grid-template-columns: 1fr;
		grid-template-rows: fit-content fit-content fit-content fit-content;
		gap: 1.5vh 0;
		grid-template-areas:
			"ABOUT"
			"EL1"
			"EL2"
			"EL3";
		&_element {
			padding: $about_el_pad_mobile;
			&_title {
				min-height: 3vh;
				font-size: 2.2vh;
			}
			&_content {
				height: fit-content;
				margin-bottom: 0px;
				ul {
					li {
						font-size: 1.4vh;
						padding: 3px 6px;
						margin: 3px 2px;
					}
				}
			}
		}
		#aboutme {
			.about_element_title {
				justify-content: center;
			}
			.about_element_content {
				justify-content: center;
			}
		}
	}
}

// TABLET PORTRAIT
@media (min-width: 768px) and (max-width: 991.99px) {
	.about {
		width: 60%;
	}
}

// TABLET LANDSCAPE
@media (min-width: 992px) and (max-width: 1199.99px) {
	.about {
		width: 80%;
	}
}

// NOTEBOOK
@media (min-width: 1200px) and (max-width: 1399.99px) {
	.about {
		width: 80%;
		&_element {
			padding: 2vh;
		}
		#aboutme {
			.about_element_content {
				font-size: 2vh;
			}
		}
	}
}

// 4K
@media (min-width: 1921px) {
	.about {
		gap: 3vh 3vh;
		&_element {
			padding: 2vh;
			border-radius: 1vw;
			&_title {
				margin-top: 0.6vw;
			}
			&_content {
				margin: 1vw 0;
				ul {
					li {
						border: 0.25vh solid white;
						border-radius: 0.5vw;
						padding: 0.4vh 0.6vh;
						font-size: 1.4vh;
					}
				}
			}
		}
		#aboutme {
			.about_element_content {
				font-size: 2vh;
			}
		}
	}
}
