@import "variables";
@import "colors";

.home {
	width: 70%;
	height: 100%;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	&_text {
		font-size: 12vh;
		font-weight: 600;
	}
	&_buttons {
		display: flex;
		&_button {
			background: transparent;
			border: 2px solid white;
			padding: 15px;
			font-size: 1.5vh;
			font-weight: 600;
			text-transform: uppercase;
			margin-top: 20px;
			cursor: pointer;
			outline: none;
			-webkit-transition: all 0.3s ease;
			-moz-transition: all 0.3s ease;
			-ms-transition: all 0.3s ease;
			-o-transition: all 0.3s ease;
			transition: all 0.3s ease;
		}
		&_button:hover {
			background: white;
			color: black;
		}
		#works {
			margin-right: 20px;
		}
	}
}

// MOBILE
@media (min-width: 300px) and (max-width: 767.99px) {
	.home {
		width: 80%;
		&_text {
			font-size: 11vw;
			font-weight: 600;
		}
	}
}

// TABLET PORTRAIT
@media (min-width: 768px) and (max-width: 991.99px) {
}

// TABLET LANDSCAPE
@media (min-width: 992px) and (max-width: 1199.99px) {
}

// NOTEBOOK
@media (min-width: 1200px) and (max-width: 1399.99px) {
}

// DESKTOP
@media (min-width: 1400px) {
}
