@import "variables";
@import "colors";

* {
  padding: 0;
  margin: 0;
  color: $c-white;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
  width: 100%;
}

body {
  background: black;
  position: fixed;
}

#app {
  display: flex;
  justify-content: center;
}

@media (min-width: 1921px) {
}

@media (max-width: 1400px) {
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
}
