@import "../../styles/variables";
@import "../../styles/colors";

.contact {
  width: 40%;
  height: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-content: center;
  justify-items: center;
  &__icon {
    display: flex;
    height: 150px;
    width: 150px;
    background: $c-grey;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      height: 146px;
      width: 146px;
      opacity: 0.8;
      border: 2px solid white;
      border-radius: 50%;
      transform: scale(0.99);
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }
    &:hover {
      background: white;
      &:before {
        opacity: 0;
        border: 2px solid white;
        transform: scale(1.2);
      }
      svg {
        fill: black;
        transform: scale(1.1);
      }
    }
    svg {
      fill: white;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
  }
}

@media (min-width: 1921px) {
}

@media (max-width: 1600px) {
  .contact {
    width: 50%;
  }
}

@media (max-width: 1400px) {
  .contact {
    width: 60%;
  }
}

@media (max-width: 1200px) {
  .contact {
    width: 70%;
  }
}

@media (max-width: 992px) {
  .contact {
    width: 60%;
    justify-content: center;
    grid-template-columns: 45% 45%;
    grid-template-rows: fit-content fit-content;
    gap: 30px;
    &__icon {
      height: 190px;
      width: 190px;
      &:before {
        opacity: 0;
      }
    }
  }
}

@media (max-width: 992px) and (orientation: landscape) {
  .contact {
    width: 70%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    &__icon {
      height: 100px;
      width: 100px;
    }
  }
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
  .contact {
    width: 90%;
    &__icon {
      height: 100px;
      width: 100px;
    }
  }
}
