@import "../../styles/variables";
@import "../../styles/colors";

.home {
  width: 70%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  &__text {
    flex: 7;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 118px;
    font-weight: 600;
  }
  &__buttons {
    flex: 3;
    display: flex;
    width: 100%;
    &__button {
      background: transparent;
      border: 2px solid white;
      padding: 15px;
      font-size: 16px;
      font-weight: 600;
      text-transform: uppercase;
      cursor: pointer;
      outline: none;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      &:hover {
        background: white;
        color: black;
      }
    }
    &__wrapper {
      margin-top: 20px;
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
}

@media (min-width: 1921px) {
}

@media (max-width: 1600px) {
  .home {
    &__text {
      font-size: 108px;
    }
  }
}

@media (max-width: 1400px) {
  .home {
    &__text {
      font-size: 96px;
    }
    &__buttons {
      flex: 3.2;
      &__button {
        padding: 12px;
        font-size: 12px;
      }
    }
  }
}

@media (max-width: 1280px) {
  .home {
    &__text {
      font-size: 86px;
    }
    &__buttons {
      flex: 3.4;
    }
  }
}

@media (max-width: 992px) {
  .home {
    &__text {
      flex: 7;
    }
    &__buttons {
      flex: 3;
    }
  }
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
  .home {
    width: 80%;
    &__text {
      flex: 6;
      font-size: 36px;
    }
    &__buttons {
      flex: 4;
      &__button {
        padding: 8px;
        font-size: 12px;
      }
    }
  }
}
